body {
  background-color: #FFF4D6;

  border: 75px solid gold;
  width: 70%;
  height: 70%;
  padding: 10px;
  top:50%;
  left:50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-image: url(pics/IMG_4307.jpg); /*Border Image featuring game title*/
  border-image-slice: 5%;
  border-image-repeat: stretch;
}

/*Exit Button*/
.exit{
  display: inline-block;
  background-color: #273722;
  box-shadow: 0 5px 0 #10160E;
  color: cornsilk;
  padding: 1em 1em;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

button{
  background-color: #2F7571;
  border: none;
  color: cornsilk;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  font-family: serif;
  box-shadow: 0 6px 6px rgba(0,0,0,0.2);
}

.storytext{
  text-align: center;
  font-size: 18px;
  font-family: 'Georgia', serif;
}

.nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  }

  a {
    background-color: #3B851B;
    box-shadow: 0 5px 0 #33641E;
    color: cornsilk;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }

  a:hover {
    background-color: #3A7322;
  }

  a:active {
    box-shadow: none;
    top: 5px;
  }
